<article class="post">
  <div class="title">
      {{!-- {{#if loggedIn}} --}}
    <a href="{{post-info}}" target="_blank">{{title}}</a> Posted by {{username}} on {{format_date created_at}}
  {{!-- {{else}}
  <a href="{{login}}" target="_blank">{{title}}</a> Posted by {{username}} on {{format_date created_at}}
  </div>
  {{/if}} --}}
  <div class="post_content">
      <a href="{{post_content}}" target="_blank">{{post_content}}</a>
  </div>
</article>